# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.pdb
*.idb
*.recipe
*.log
*.ilk
*.tlog
*.lastbuildstate
*.vcxproj
*.filters
*.user
*.sln
*.xlsx

bin/
intermediate/
.vs/
Assets/
/*.xml
/Legal/*.docx
/Legal/*.pdf
/StrategyEditor/common/include/spdlog/fmt/bundled/*.rst
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/doc/*.html
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/doc/*.gif
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/doc/*.1
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/doc/*.css
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/doc/*.png
/StrategyServer/common/include/imgui/*.txt
/Tools/Crunch/Unit/DARK ELF/*.png
/Tools/Crunch/Unit/HIGH ELF/*.png
/Tools/Crunch/Unit/HUMAN/SPECIAL CARD UNITS/*.png
/Tools/Crunch/Unit/HUMAN/*.png
/Tools/Crunch/Unit/ORC/*.png
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/Makefile
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/README
/StrategyServer/common/include/LuaBridge/Lua.5.2.0/src/Makefile
